body {
  color: #fff;
  font-family: "Raleway";
  text-align: center;
  margin: 0px;
  font-size: 8pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#preload {
  display: none;
}

.disable-hover {
  pointer-events: none;
}

.overflow-wrap {
  overflow-x: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url("../img/filler.png") center center/cover;
}

.button {
  padding: 10px 20px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #04c2c9;
  border-color: #04c2c9;
}
.button .mdi {
  vertical-align: middle;
}

.bold {
  font-family: "Raleway-bold";
}

nav {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  text-align: left;
  z-index: 99;
}
nav.fixed {
  top: 0;
  bottom: inherit;
  left: 0;
  position: fixed;
}
nav.fixed.desk {
  animation: popDown 0.5s;
}
.nav-link {
  font-size: 18px !important;
  font-weight: 700;
}
nav .active {
  color: #e31b6d;
}

section {
  padding: 70px 0 70px 0;
  color: #616161;
  line-height: 11pt;
  position: relative;
}

section:nth-of-type(1) {
  padding: 0 10px;
  color: #fff;
  height: calc(100vh + 53px);
}
