@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap");
body {
  overflow-x: hidden;
}

.canvas-text {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  top: 35vh;
}

.text-important {
  color: #e31b6d;
}

.canvas-btn {
  border: 1px solid #ededed;
  color: white;
  padding: 15px 25px;
}
.canvas-btn:hover {
  background-color: #04c2c9 !important;
  border: 1px solid #04c2c9;
  color: white;
}
.canvas-btn .btn-icon {
  transform: rotate(90) !important;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav-item {
  margin: 0 15px !important;
}

.active {
  color: #04c2c9 !important;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #04c2c9;
}

.border-bottom {
  border: 3px solid #04c2c9;
  width: 80px;
  margin: auto;
}

.cards {
  padding: 15px;
}
.cards .card-img {
  margin: auto;
  max-width: 110px;
  background-color: #04c2c9;
  color: #ffffff;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  padding: 20px;
  font-size: 50px;
}
.cards .card-desc {
  font-family: "Poppins", sans-serif;
}
.cards:hover .card-img {
  transform: matrix(90);
  transition: 0.6s;
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  transform-origin: center;
}

.title {
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 15px 0;
}

.about-img {
  max-height: 300px;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
          clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.progress-title {
  padding-top: 4px;
  width: 20%;
  background-color: #04c2c9;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.bg-bar {
  background-color: #02858a !important;
}

#contact {
  background-color: #252934;
}

.subtitle {
  color: #04c2c9;
  font-weight: 700;
  margin-top: 20px;
}

.contact-form {
  align-items: center;
  margin: auto;
}
.contact-form input {
  margin: 2px 0;
  padding: 5px;
  background-color: #161718;
  caret-color: #04c2c9;
  color: #ffffff;
  border: none !important;
}
.contact-form input:focus {
  outline-width: 0;
}
.contact-form textarea {
  padding: 5px;
  margin: 2px 0;
  background-color: #161718;
  caret-color: #04c2c9;
  color: #ffffff;
  border: none !important;
}
.contact-form textarea:focus {
  outline-width: 0;
}

.gallery {
  padding: 50px 0 !important;
}
.gallery .gallery-card {
  position: relative;
}
.gallery .gallery-card:hover .gallery-hover {
  bottom: 0;
  opacity: 1;
  transition: 0.4s;
  transform: scaleY(1.2);
}
.gallery .gallery-hover {
  position: absolute;
  padding: 10px 0;
  background-color: #ffffff;
  opacity: 0;
  bottom: 0;
  width: 100%;
}
.gallery .gallery-hover .btn {
  border: solid 1px #04c2c9;
  color: #04c2c9;
}
.gallery .gallery-hover .btn:focus {
  outline: none !important;
}/*# sourceMappingURL=style.css.map */