@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap");

.canvas-text {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  top: 35vh;
}
.text-important {
  color: #e31b6d;
}
.canvas-btn {
  border: 1px solid #ededed;
  color: white;
  padding: 15px 25px;
  &:hover {
    background-color: #04c2c9 !important;
    border: 1px solid #04c2c9;
    color: white;
  }
  .btn-icon {
    transform: rotate(90) !important;
  }
}
.inner {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.nav-item {
  margin: 0 15px !important;
}
.active {
  color: #04c2c9 !important;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #04c2c9;
}
.border-bottom {
  border: 3px solid #04c2c9;
  width: 80px;
  margin: auto;
}
.cards {
  padding: 15px;
  .card-img {
    margin: auto;
    max-width: 110px;
    background-color: #04c2c9;
    color: #ffffff;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    padding: 20px;
    font-size: 50px;
  }

  .card-desc {
    font-family: "Poppins", sans-serif;
  }
  &:hover {
    .card-img {
      transform: matrix(90);
      transition: 0.6s;
      -webkit-animation-name: rotateIn;
      animation-name: rotateIn;
      -webkit-transform-origin: center;
      transform-origin: center;
    }
  }
}
.title {
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 15px 0;
}
.about-img {
  max-height: 300px;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}
.progress-title {
  padding-top: 4px;
  width: 20%;
  background-color: #04c2c9;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.bg-bar {
  background-color: #02858a !important;
}
// Gallery

// Contact
#contact {
  background-color: #252934;
  // padding-top: 0 !important;

  .triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
  }
}
.subtitle {
  color: #04c2c9;
  font-weight: 700;
  margin-top: 20px;
}
.contact-form {
  align-items: center;
  margin: auto;
  input {
    margin: 2px 0;
    padding: 5px;
    background-color: #161718;
    caret-color: #04c2c9;
    color: #ffffff;
    border: none !important;
    &:focus {
      outline-width: 0;
    }
  }
  textarea {
    padding: 5px;
    margin: 2px 0;
    background-color: #161718;
    caret-color: #04c2c9;
    color: #ffffff;
    border: none !important;
    &:focus {
      outline-width: 0;
    }
  }
}
